
@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4 mt-5 mb-3">About Me</h1>
    <p class="text-secondary">
        Young motivated Software Engineer. With desire and ambition to explore and learn
        new skills, explore new technologies and get challenged by innovation.
    </p>
    <hr />
    <div class="card-deck">
        <div class="card d-flex flex-row border border-dark alert alert-light" >
            <img class="card-img-top" style="width: 100px; height:100px;" src="/img/skills-icon.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Technical Skills</h4>
                <p class="card-text">
                    C#
                    PHP
                    Laravel
                    MySQL
                    Git
                    Java
                    HTML & CSS
                    JavaScript
                    jQuery
                    WordPress
                </p>
            </div>
        </div>
        <div class="card d-flex flex-row  border border-dark alert alert-light">
                <img class="card-img-top" style="width: 85px; height:85px;" src="/img/communication-skill.png" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Other Skills</h4>
                    <p class="card-text">
                        Problem Solving & Teamwork,
                        Time Managment,
                        Communication
                    </p>
                    </div> 
        </div>
    </div>
    </div>