@{
    ViewData["Title"] = "Contact";
}

<div class="text-center">
    <h1 class="display-4 mt-5 mb-3">Contact</h1>
    <p style="font-family:courier;">Lets work together&create something lovely</p>
    <hr />

    <div class="card-deck">
        <div class="card d-flex flex-row border border-dark alert alert-light  ">
            <img class="card-img-top" style="width: 100px; height:100px;" src="/img/Gmail-logo.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Email</h4>
                <p class="btn btn-outline-primary" href="#" role="button">
                    em44433@ubt-uni.net
                </p>
            </div>
        </div>
        <div class="card d-flex flex-row  border border-dark alert alert-light ">
            <img class="card-img-top" style="width: 85px; height:85px;" src="/img/GitHub-Mark.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">GitHub</h4>
                <p class="btn btn-outline-primary" href="#" role="button">
                  eroditMehmeti
                </p>
            </div>
        </div>
    </div>
</div>

