@{
    ViewData["Title"] = "Home Page";
}

<div class="container" style="float:left;">
    <div class="card">
        <img class="card-img-bottom" src="/img/BG.jfif" alt="BackGroundImg">
        </div>
    </div>

    <h1 class="centered text-white" 
        style="position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -550%);
        font-family: Lucida Console" ,monospace;";>
        Hi I'm Erodit,Software Developer!
    </h1>
